@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
body {
    padding: 30px 140px;
color:white;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  background:linear-gradient(130deg,rgba(173,97,255,1)0%,rgba(134,119,255,1)45%,rgba(0,193,255,1)100%);
}
table {
    width: 100%;
    border-radius: 20px;
}
td {
    border-radius: 10px;
}
th{
    border-radius: 10px;
    background-color:rgba(0,193,255,1)
}
h2 {
    margin: left 30px;
}
div {
    margin: top 20px;
}